.left,
.right {
	padding: 15px 0;
	height: 100%;
}

.left {
	width: 40%;
	border-right: 1px solid #444;
	padding-left: 26px;
}

.right {
	width: 60%;
}

.status {
	margin-bottom: 20px !important;
	height: 40px;
}

.status > div:nth-of-type(1) {
	color: #e2e5e8;
	padding: 0 15px;
}

.statusMark {
	border-radius: 5px;
	padding: 2px 10px;
	color: #fff;
}

.statusMark_normal {
	background: rgb(51, 122, 183);
}

.statusMark_withdraw {
	background: rgb(217, 84, 79);
}

.container {
	height: 550px;
	overflow-y: hidden;
}

.operate-wrapper {
	border-top: 1px solid #444;
	padding: 20px 24px 0 24px;
}

.operate-btn {
	margin-right: 10px;
}

.operate-btn,
.operate-btn:hover {
	color: #fff;
	border: none;
}

.selectUserModal ::ng-deep .ant-modal-header {
	background: #f5f5f5;
}

.selectUserModal ::ng-deep .ant-modal-footer {
	display: none;
}

.selectUserModal ::ng-deep .ant-modal-body {
	background: rgb(27, 27, 33);
	padding: 0;
}
.user-select-wrap{
	border-bottom: 1px solid #565656;
	padding: 10px;
	color:#e7eaed !important ;
	transition: background-color .3s ease-in;
	cursor: pointer;
}
.user-select-wrap:hover{
	background: #3a3a3f;
}
.user-select-item span ,
.vipInfo span{
	color:#fd92af !important ;
}
.user-select-item{
	margin-bottom: 5px;
}

.vipInfo{
	width: 25%;
	color:#e7eaed ;
}

.section>div{
	margin-bottom: 10px;
}
.section{
	border-bottom: 1px solid #565656;
	padding-left: 24px;
}
.vip-records{
	height: calc(100% - 48px);
	overflow-y: hidden;
}
.vip-records ::ng-deep .ant-tabs-nav .ant-tabs-tab{
	color:#e7eaed ;
}
.vip-records ::ng-deep .ant-tabs-nav .ant-tabs-tab-active ,
.vip-records ::ng-deep .ant-tabs-nav .ant-tabs-tab:hover{
	color:#1890ff ;
}
.vip-records ::ng-deep .ant-tabs-bar{
	border-bottom: 1px solid #565656;
	margin: 0;
}

.vip-records ::ng-deep .ant-tabs{
	height: 100%;
}
.vip-records ::ng-deep .ant-tabs-content{
	height: calc( 100% - 44px );
}
.record-container{
	height: 100%;
	overflow-y: hidden;
}
.record-container-left ,
.record-container-right{
	height: 100%;
	overflow-y: scroll;
}
.record-container-left{
	width: 30%;
	border-right: 1px solid #444 ;
}
.record-container-right{
	width: 70% ;
}

.scrollContainer::-webkit-scrollbar {
	width: 0;
	height: 5px;
	background-color: #1d1d21
}

.item-content{
	padding: 5px 10px;
	border-bottom: 1px solid #505156;
	cursor: pointer;
	transition: background-color .3s ease-in;
}
.item-content:hover ,
.item-select {
	background:#2c2c38 ;
}
.item-content>div{
	color:#868686;
}
.item-content>div:nth-of-type(1) {
	margin-bottom: 5px;
}
.item-content span {
	color:#fd92af !important ;
}
.table{
	width: 100% ;
}
.table thead{
	background: #2c2c38;
	color: #a7a7a7;
	border-bottom: 1px solid #505156;
}
.table tbody tr{
	transition: background-color .3s ease-in;
	border-bottom: 1px solid #505156;
	color: #a7a7a7;
	cursor:pointer;
}
.table tbody tr:hover{
	background: #2c2c38;
}
.table th ,
.table td {
	text-align: center;
	padding: 5px 0;
}
