<div class="c-full-container c-flex-row-start container">
	<div class="left">
		<form nz-form [nzLayout]="'inline'" [formGroup]="form" class="common-form">
			<div class="c-flex-row-start status">
				<div>状态 :</div>
				<div class="statusMark "
				     [ngClass]="{'statusMark_normal':form.get('status').value === 0 ,'statusMark_withdraw':form.get('status').value === 2}">
					{{ form.get('status').value === 2 ? '冻结' : '正常' }}
				</div>
			</div>
			<nz-form-item class='c-formSec'>
				<nz-form-label [nzSm]="5" nzFor="new">
					卡号
				</nz-form-label>
				<nz-form-control [nzSm]="18" [nzOffset]='1'>
					<input (keydown.enter)="query('cardNumber')" class="" nz-input formControlName="cardNumber"
					       id="cardNumber" placeholder="卡号">
					<nz-form-explain *ngIf="form.get('cardNumber').dirty && form.get('cardNumber').errors">
					<span>
						卡号不能为空
					</span>
					</nz-form-explain>
				</nz-form-control>
			</nz-form-item>
			<nz-form-item class='c-formSec'>
				<nz-form-label [nzSm]="5" nzRequired nzFor="new">
					姓名
				</nz-form-label>
				<nz-form-control [nzSm]="18" [nzOffset]='1'>
					<input (keydown.enter)="query('name')" class="" nz-input formControlName="name" id="name"
					       placeholder="姓名">
					<nz-form-explain *ngIf="form.get('name').dirty && form.get('name').errors">
					<span>
						姓名不能为空
					</span>
					</nz-form-explain>
				</nz-form-control>
			</nz-form-item>
			<nz-form-item class='c-formSec'>
				<nz-form-label [nzSm]="5" nzRequired nzFor="new">
					电话
				</nz-form-label>
				<nz-form-control [nzSm]="18" [nzOffset]='1'>
					<input (keydown.enter)="query('tel')" nz-input formControlName="tel" id="tel" placeholder="电话">
					<nz-form-explain *ngIf="form.get('tel').dirty && form.get('tel').errors">
					<span>
						电话不能为空
					</span>
					</nz-form-explain>
				</nz-form-control>
			</nz-form-item>
			<nz-form-item class='c-formSec'>
				<nz-form-label [nzSm]="5" nzRequired nzFor="new">
					性别
				</nz-form-label>
				<nz-form-control [nzSm]="18" [nzOffset]='1'>
					<nz-select nzPlaceHolder='性别' formControlName="sex" id="sex">
						<nz-option nzLabel="男" [nzValue]="0"></nz-option>
						<nz-option nzLabel="女" [nzValue]="1"></nz-option>
					</nz-select>
					<nz-form-explain *ngIf="form.get('sex').dirty && form.get('sex').errors">
					<span>
						性别不能为空
					</span>
					</nz-form-explain>
				</nz-form-control>
			</nz-form-item>

			<nz-form-item class='c-formSec'>
				<nz-form-label [nzSm]="5" nzRequired nzFor="new">
					类型
				</nz-form-label>
				<nz-form-control [nzSm]="18" [nzOffset]='1'>
					<nz-select nzPlaceHolder='会员类型' formControlName="vipTypeId" id="vipTypeId">
						<nz-option *ngFor="let item of ENUM_VipTypes" [nzLabel]="item.key"
						           [nzValue]="item.value"></nz-option>
					</nz-select>
					<nz-form-explain *ngIf="form.get('vipTypeId').dirty && form.get('vipTypeId').errors">
					<span>
						会员类型不能为空
					</span>
					</nz-form-explain>
				</nz-form-control>
			</nz-form-item>

			<nz-form-item class='c-formSec'>
				<nz-form-label [nzSm]="5" nzFor="new">
					生日
				</nz-form-label>
				<nz-form-control [nzSm]="18" [nzOffset]='1'>
					<input class="" nz-input formControlName="birthDay" id="birthDay" placeholder="生日">
					<nz-form-explain *ngIf="form.get('birthDay').dirty && form.get('birthDay').errors">
					<span>
						生日格式与5-12相同
					</span>
					</nz-form-explain>
				</nz-form-control>
			</nz-form-item>

			<nz-form-item class='c-formSec'>
				<nz-form-label [nzSm]="5" nzFor="new">
					备注
				</nz-form-label>
				<nz-form-control [nzSm]="18" [nzOffset]='1'>
					<input class="" nz-input formControlName="remark" id="remark" placeholder="备注">
				</nz-form-control>
			</nz-form-item>

			<nz-form-item class='c-formSec'>
				<nz-form-label [nzSm]="5" nzFor="new">
					状态原因
				</nz-form-label>
				<nz-form-control [nzSm]="18" [nzOffset]='1'>
					<input class="" nz-input formControlName="reason" id="reason" placeholder="状态原因">
				</nz-form-control>
			</nz-form-item>
		</form>
	</div>
	<div class="right">
		<div class="section">
			<div class="c-flex-row-start">
				<div class="vipInfo">
					卡号: <span> {{  userInfo.cardNumber | nullPipe }}</span>
				</div>
				<div class="vipInfo">
					姓名: <span> {{ userInfo.name  | nullPipe }}</span>
				</div>
				<div class="vipInfo">
					手机: <span> {{ userInfo.tel  | nullPipe }}</span>
				</div>
				<div class="vipInfo">
					折扣率: <span> {{ !userInfo.typeInfo ? '无' : userInfo.typeInfo.discount  | discount }}</span>
				</div>
			</div>
			<div class="c-flex-row-start">
				<div class="vipInfo">
					余额: <span> {{ userInfo.integral  | nullPipe }}</span>
				</div>
				<div class="vipInfo">
					积分: <span> {{ userInfo.balance | cusCurrency }}</span>
				</div>
				<div class="vipInfo">
					房费余额: <span> {{ userInfo.balanceForRoom | cusCurrency }}</span>
				</div>
				<div class="vipInfo">
					超市余额: <span> {{ userInfo.balanceForMarket | cusCurrency }}</span>
				</div>
			</div>
		</div>
		<div class="vip-records">
			<nz-tabset [(nzSelectedIndex)]="tabIndex" (nzSelectChange)="tabChange()">
				<nz-tab nzTitle="消费">
					<!--					<div class="c-flex-row-center c-full-container">-->
					<!--						<img src="../../../../assets/img/empty.svg" alt="">-->
					<!--					</div>-->
					<div class="c-full-container record-container c-flex-row-start">
						<div class="record-container-left scrollContainer">
							<div *ngFor=" let item of recordData.consume ">
								<div
									class="item-content"
									[ngClass]="{'item-select': item === orderSelect}"
									(click)="selectOrder( item ) "
								>
									<div class="c-flex-row-space">
										<div>
											{{ item.roomName }}
										</div>
										<div>
											{{ item.totalMoney | cusCurrency }}
										</div>
									</div>
									<div>
										{{ item.joinTime | datePie }}
									</div>
								</div>
							</div>
						</div>
						<div class="record-container-right scrollContainer">
							<table class="table">
								<thead>
								<tr>
									<th>消费类别</th>
									<th>项目明细</th>
									<th>实收金额</th>
									<th>应收金额</th>
								</tr>
								</thead>
								<tbody>
								<tr *ngFor=" let item of orderDetailList">
									<td>{{ item.type }}</td>
									<td>{{ item.remark }}</td>
									<td>{{ item.shouldMoney | cusCurrency }}</td>
									<td>{{ item.allMoney | cusCurrency }}</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</nz-tab>
				<nz-tab nzTitle="充值">
					<div class="c-flex-row-center c-full-container">
						<img src="../../../../assets/img/empty.svg" alt="">
					</div>
				</nz-tab>
				<nz-tab nzTitle="积分">
					<div class="c-flex-row-center c-full-container">
						<img src="../../../../assets/img/empty.svg" alt="">
					</div>
				</nz-tab>
			</nz-tabset>
		</div>
	</div>
</div>
<div class="operate-wrapper">
	<button
		nz-button class="operate-btn" style="background:rgb(166, 98, 0)"
		(click)="reset()"
	>
		清空
	</button>
	<button
		nz-button class="operate-btn" style="background:rgb(51, 122, 183)"
		(click)="create($event)"
		*ngIf="!form.get('id').value"
	>
		新建
	</button>
	<button
		nz-button class="operate-btn" style="background:rgb(51, 122, 183)"
		(click)="update($event)"
		*ngIf="form.get('id').value"
	>
		更新
	</button>
	<button
		nz-button class="operate-btn" style="background: rgb(62, 127, 52);"
		(click)="freezeOrRecover($event , 'freeze')"
		*ngIf="form.get('id').value && form.get('status').value === 0"
	>
		冻结
	</button>
	<button
		nz-button class="operate-btn" style="background: rgb(62, 127, 52);"
		(click)="freezeOrRecover($event , 'recover')"
		*ngIf="form.get('id').value && form.get('status').value === 2"
	>
		恢复
	</button>
	<button
		nz-button class="operate-btn" style="background: rgb(19, 82, 68);"
		*ngIf="userInfo.typeInfo"
		(click)="this.bindCardModal = true"
	>
		绑卡
	</button>
</div>

<!-- 多用户选择 -->
<nz-modal
	[(nzVisible)]="selectUserModal"
	[nzTitle]="modalTitle"
	[nzContent]="modalContent"
	[nzFooter]="modalFooter"
	class="selectUserModal"
	(nzOnCancel)="selectUserModal = false"
	nzWidth="300"
>
	<ng-template #modalTitle>
		<span>请选择用户</span>
	</ng-template>

	<ng-template #modalContent>
		<div class="user-select-wrap"
		     *ngFor="let item of selectUsers"
		     (click)="selectUser( item )"
		>
			<div class="user-select-item">
				卡号:
				<span>
					{{ item.cardNumber }}
				</span>
			</div>
			<div class="c-flex-row-space">
				<div class="user-select-item">
					姓名:
					<span>
						{{ item.name }}
					</span>
				</div>
				<div class="user-select-item">
					手机号:
					<span>
						{{ item.tel }}
					</span>
				</div>
			</div>
		</div>
	</ng-template>

	<ng-template #modalFooter>
		<span>Modal Footer: </span>
	</ng-template>
</nz-modal>

<!-- 绑卡 -->
<nz-modal
	[(nzVisible)]="bindCardModal"
	[nzTitle]="bindCardTitle"
	[nzContent]="bindCardContent"
	[nzFooter]="bindCardFooter"
	class="selectUserModal"
	(nzOnCancel)="bindCardModal = false"
	nzWidth="700"
>
	<ng-template #bindCardTitle>
		<span>绑定实体卡</span>
	</ng-template>

	<ng-template #bindCardContent>
		<div style="padding: 20px 0">
			<p class="tip-info">注意:实体卡绑定之后 , 原卡将被废弃</p>
			<div class="c-flex-row-center bind-container">
				<div>
					<div class="bind-title">原卡</div>
					<div class="bind-card bind-card-form">
						<h2> {{ userInfo.cardNumber }}</h2>
						<div>
							<i nz-icon nzType="user" nzTheme="outline"></i>
							<span> {{ userInfo.name }}</span>
						</div>
						<div>
							<i nz-icon nzType="phone" nzTheme="outline"></i>
							<span> {{ userInfo.tel }}</span>
						</div>
					</div>
				</div>
				<i nz-icon nzType="swap" nzTheme="outline" class="icon-swap"></i>
				<div>
					<div class="bind-title">绑定到的卡</div>
					<div class="bind-card bind-card-to">
						<h2> {{ bindCardForm.value.cardNumber | nullPipe }}</h2>
						<div>
							<i nz-icon nzType="user" nzTheme="outline"></i>
							<span> {{ bindCardForm.value.name | nullPipe}}</span>
						</div>
						<div>
							<i nz-icon nzType="phone" nzTheme="outline"></i>
							<span> {{ bindCardForm.value.tel | nullPipe }}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="c-flex-row-center">
				<button
					nz-button class="operate-btn" style="background: rgb(19, 82, 68);width: 200px"
				>
					绑定
				</button>
			</div>
		</div>
	</ng-template>

	<ng-template #bindCardFooter>
		<span>Modal Footer: </span>
	</ng-template>
</nz-modal>
