<div class="light-font c-flex-row-start section-wrapper" *ngIf="outrightArr.length > 0 ">
	<div style="margin-right: 10px">
		买断档期 :
	</div>
	<div>
		<nz-select (ngModelChange)='outrightChange($event)' [ngModel]="outrightArr[0]" style="width: 120px;"
				   nzPlaceHolder="买断档期">
			<nz-option *ngFor="let item of outrightArr" [nzValue]="item" [nzLabel]="item.name"></nz-option>
		</nz-select>
	</div>
	<div style="width: 120px;margin-left: 20px;">
		时段 :
		<span class="weekPink-font">
			{{ selectOutright.startTime | timePie:2:':' }}
		</span>
		-
		<span class='weekPink-font'>
			{{ selectOutright.endTime | timePie:2:':' }}
		</span>
	</div>
	<div style="width: 120px;margin-left: 20px;">
		价格 :
		<span class="weekPink-font">
			{{ selectOutright.price.outrightPrice | cusCurrency }}
		</span>
	</div>
	<div style="margin-left: 10px;">
		会员价 :
		<span class="weekPink-font">
			{{ selectOutright.price.vipOutrightPrice | cusCurrency }}
		</span>
	</div>
</div>

<div class="light-font c-flex-row-start section-wrapper" style="margin-top: 20px;">
	<div>
		<span style="margin-right: 10px;">是否算入计时 : </span>
		<label nz-checkbox [(ngModel)]="withTimePrice" (ngModelChange)="getTimePrice()"></label>
		<small style="margin-left: 20px;color: #828282" class="weekLight-font">
			注: 勾选之后价格计算将会带入计时价格(时间未到买断预设时间 , 未到的部分用计时价格计算)
		</small>
	</div>
</div>

<div class="light-font priceWrapper">
	<div class="detail-wrapper">
		价格明细:
		<div>
			<div class="c-flex-row-start section-wrapper">
				<div class="badge-custom" style="width: 20px;height: 20px;margin-right: 10px">
					1
				</div>
				<div style="margin-left: 10px;">
					<span style="margin-right: 10px;">买断档期:</span>
					<span class="weekPink-font"> {{ selectOutright.name }}</span>
				</div>
				<div style="width: 120px;margin-left: 20px;">
					价格 :
					<span class="weekPink-font">
						{{ selectOutright.price.outrightPrice | cusCurrency }}
					</span>
				</div>
				<div style="margin-left: 10px;">
					会员价 :
					<span class="weekPink-font">
						{{ selectOutright.price.vipOutrightPrice | cusCurrency }}
					</span>
				</div>
				<div style="margin-left: 50px;">
					允许折扣 :
					<span class="weekPink-font">
						{{ selectOutright.canDiscount == '0' ? '不允许': '允许' }}
					</span>
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="timePrice.length > 0 ">
		<time-price-detail [timePrice]="timePrice"></time-price-detail>
	</div>

	<div class="c-flex-row-start"  style="margin-top: 20px">
		<div>
			应付金额:
			<span class="weekPink-font">
				{{ money.shouldPay | cusCurrency}}
			</span>
		</div>
		<div style="margin-left: 30px;">
			会员应付:
			<span class="weekPink-font">
				{{ money.vipShouldPay | cusCurrency }}
			</span>
		</div>
	</div>
</div>
