<div class="c-flex-row-space wrap">
	<span class="title">
		结账方式选择
	</span>

	<div class="c-flex-row-start">
		<span style="margin-right: 10px;">
			实收:
		</span>
		<input nz-input type="text" [(ngModel)]=" realGet " style="width: 80px;margin-right: 10px;">
		<span>
			找零:
			<span class="weekPink-font">
				{{ realGet - money < 0 ? 0 :  '¥ ' +  ( realGet - money ) }}
			</span>
		</span>
	</div>
</div>

<div class="methodWrap">
	<div *ngFor="let item of methods;let idx = index ">
		<div class="c-flex-row-start section-wrap">
			<span style="margin-right: 20px;">
				{{ idx + 1 }}
			</span>

			<div style="width: 150px;">
				<label nz-checkbox (nzCheckedChange)="checkChange($event , item)" [(ngModel)]="checkedMap[item.value]">
					<span style="color:#ccc">
						{{ item.key }}
					</span>
				</label>
			</div>

			<div>
				<span style="margin-right: 5px;">金额:</span>
				<input #input
					   type="string"
					   [(ngModel)]="inputModel[item.value]"
					   (input)="inputChange( item.value )"
					   (keydown.enter)="inputEnter(item.value , input.value)"
					   nz-input placeholder="" class="section-input"
				/>
			</div>
		</div>
	</div>
</div>